---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
  <div id="phillyrb">
    <a href="http://phillyrb.org"><img src="http://phillyrb.org/images/member-badge-full-color.png" alt="Member of Philly.rb"></a>
  </div>
  <div id="stackexchange">
    <a href="http://stackoverflow.com/users/836823/allen"><img src="http://stackoverflow.com/users/flair/836823.png" width="208" height="58" alt="profile for Allen at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Allen at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
  </div>
</aside>
